{% extends "StkAdhesionBundle::layout.html.twig" %}
{% block body_adhesion %}
    <h2>Supprimer presence par année</h2>

    <form method="post">
        <table class="table-form">
            <tr>
                <td>{{ form_label(form.year) }}</td>
                <td>{{ form_widget(form.year) }}</td>
            </tr>
        </table>
        <div class="form-button">
            <input type="submit" value="Supprimer"/>
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    <script>
        var nav = document.getElementById("delete-note-link");
        nav.className += " active";
    </script>
{% endblock %}