<ul>
    <li>
        <a href="{{ path('homepage') }}" id="home-link" class="skel-layers-ignoreHref">
            <span class="icon fa-home">Accueil</span>
        </a>
    </li>
    <hr/>
    <li>
        <a href="{{ path('homeadhesion') }}" id="adhesion-link" class="skel-layers-ignoreHref">
            <span class="icon fa-user">Adhesion</span>
        </a>
    </li>
    <hr/>
    <li>
        <a href="{{ path('homefinance') }}" id="money-link" class="skel-layers-ignoreHref">
            <span class="icon fa-money">Gesion financière</span>
        </a>
    </li>
    <hr/>
    <li>
        <a href="{{ path('backup') }}" id="backup-link" class="skel-layers-ignoreHref">
            <span class="icon fa-money">Sauvegarde en sql</span>
        </a>
    </li>
    <hr/>
</ul>
