{% extends 'base.html.twig' %}

{% block menu %}
    {{ render(controller('AppBundle:Default:homeMenu')) }}
{% endblock %}

{% block body %}
    <h1>Accueil</h1>
{% endblock %}

{% block javascripts %}
    <script>
            var nav = document.getElementById("home-link");
            nav.className += " active";
    </script>
{% endblock %}
