<ul>
    <li>
        <a href="{{ path('homepage') }}" id="home-link" class="skel-layers-ignoreHref">
            <span class="icon fa-home">Accueil | Géstion financière</span>
        </a></li>
    <hr/>
    <li>
        <a href="" id="finance-home-link" class="skel-layers-ignoreHref">
            <span class="icon fa-th">Liste des membres</span>
        </a>
    </li>
</ul>